<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>嘉宾墙</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fwall.css" rel="stylesheet">
    <script src="js/jq.js"></script>
    <script src="js/angular.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;">
      <div class="container row" style="">
        <div class="col-xs-3 col-md-3" style="padding:0;">
          <span class="back" ><</span>
        </div>
        <div class="col-xs-6 col-md-6" style="text-align:center;">
          <span class="index_kind">首页</span>
        </div>
        <div class="col-xs-3 col-md-3" style="padding:0;">
          <div class="choose">我的墙</div>
        </div>
      </div>
    </nav>
    <div class="equalnav"></div>
    <ul>
      <li>
        <div class="title">《关于一个乐观的我》</div>
        <img src="img/test.jpg" class="cover">
        <div class="describe">
          关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我关于一个乐观的我
        </div>
        <div class="infor">
          <span class="user">关于一个♂21</span>
          <span class="update">1分钟前更新</span>
        </div>
      </li>
    </ul>
  </body>
  <script>
  var alert_h = $(".navbar").height();
  var alert_t = (alert_h - $(".choose").height())/2;
  $(".choose").css("margin-top",alert_t);
  $(".equalnav").css("height",alert_h);
  </script>
</html>
