<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>嘉宾墙</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fwall.css" rel="stylesheet">
    <script src="/static/js/jq.js"></script>
    <script src="/static/js/angular.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;">
      <div class="container row" style="">
        <div class="col-xs-3 col-md-3" style="padding:0;">
          <span class="back" ><</span>
        </div>
        <div class="col-xs-6 col-md-6" style="text-align:center;">
          <span class="index_kind">嘉宾墙</span>
        </div>
        <div class="col-xs-3 col-md-3" style="padding:0;">
          <div class="choose">我的墙</div>
        </div>
      </div>
    </nav>
    <div class="equalnav"></div>
    <ul ng-controller="guestwalls">
      <li ng-repeat="wall in walls">
        <div class="title">{{wall.title}}</div>
        <img ng-src="{{wall.photo.url}}" class="cover">
        <div class="describe">
          {{wall.photo.description}}
        </div>
        <div class="infor">
          <span class="user">{{wall.nickname}}<span class="sex">{{wall.gender}}</span>{{wall.age}}</span>
          <span class="update">1分钟前更新</span>
        </div>
      </li>
    </ul>
  </body>
  <script>
  var alert_h = $(".navbar").height();
  $(".back").click(function(){
    window.history.back(-1);
  });
  var alert_t = (alert_h - $(".choose").height())/2;
  $(".choose").css("margin-top",alert_t);
  $(".equalnav").css("height",alert_h);
  var myApp = angular.module('myApp',[]);
  myApp.controller('guestwalls',function($scope,$http){
    var wall_init,user;
    var walls = [];
    $http.get("/api/wall/guestwall").success(function(data){
      wall_init = data;
    });
    for(var i = 0; i < wall_init.length; i++){
      var wall0 = {uid:wall_init[i].uid,photo:wall_init[i].photos[0],title:wall_init[i].title};
      $.post("/api/user/meta",{uid:wall_init[i].uid},function(data){
        user = data;
        for(var i = 0;i < user.length; i++){
          var user0 = {nickname:user[i].nickname,gender:user[i].gender,age:user[i].age};
          var wall_m = $.extend({},wall0,user0);
          g_walls.push(wall_m);
          if(wall_m[i].gender == "man"){
            wall_m[i].gender = "♂";
          }
          else{
            wall_m[i].gender = "♀";
          }
        }
      });
    }
    $scope.walls = g_walls;
  });
  </script>
</html>
