<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>homepage</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">
    <script src="js/jq.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/homepage.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;z-index:9999;">
      <div class="container row">
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <span class="back" ><</span>
        </div>
        <div class="col-xs-8 col-md-8" style="text-align:center;">
          <span class="index_kind">TA的主页</span>
        </div>
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <a class="choose" href="#">保存</a>
        </div>
      </div>
    </nav>
    <div style="equalnav" style="width:100%;"></div>
    <div class="main" style="z-index:1000;">
      <form id="userform" method="post" action="/api/user">
        <table border="1">
          <tr>
            <div class="head"></div>
          </tr>
          <tr>
            <input type="text" name="nickname" placeholder="  昵称：" class="nickname">
          </tr>
          <tr>
            <div class="sex">
              <input type="radio" name="man" class="sex_man">男
              <input type="radio" name="woman" class="sex_woman">女
            </div>
          </tr>
          <tr>
            <div class="birth">
              <div class="btn-group col-xs-4" style="padding:0;">
                <input class="input__" type="text" placeholder="出生年"/>
              </div>
              <div class="btn-group col-xs-4" style="padding:0;">
                <input class="input__" type="text" placeholder="出生月"/>
              </div>
              <div class="btn-group col-xs-4" style="padding:0;">
                <input class="input__" type="text" placeholder="出生日"/>
              </div>
          </tr>
          <tr>
            <div class="btn-group form_" style="margin-top:1em">
              <div class="btn-group form_">
                <input class="input_" type="text" placeholder="选择身高"/>
              </div>
            </div>
          </tr>
          <tr>
            <div class="btn-group form_">
              <input class="input_" type="text" placeholder="选择家乡"/>
            </div>
          </tr>
          <tr>
            <div class="btn-group form_">
              <input class="input_" type="text" placeholder="准备工作地"/>
            </div>
          </tr>
          <tr>
            <div class="real_name1">
              <input class="real_name" type="text" name="real_name" placeholder="  真实姓名：">
              <div style="float:right;font-size:1.1em;margin:0.7em 0.2em;"><input class="pub_" name="pub_real_name" type="radio"><span style="vertical-align:top;">公开</span></div>
            </div>
          </tr>
          <tr>
            <div class="tel1" style="margin-bottom:1em;">
              <input class="tel" type="text" name="tel" placeholder="  联系方式：">
              <div style="float:right;font-size:1.1em;margin:0.7em 0.2em;"><input class="pub_" name="pub_tel" type="radio"><span style="vertical-align:top;">公开</span></div>
            </div>
          </tr>
          <tr>
            <div class="school">
              <span style="float:left;">学校信息</span><span id="auth" style="float:right;">还未认证</span>
            </div>
          </tr>
          <tr>
            <div class="btn-group form_">
              <input class="input_" type="text" placeholder="选择学校"/>
            </div>
          </tr>
          <tr>
            <div class="btn-group form_">
              <input class="input_" type="text" placeholder="选择专业"/>
            </div>
          </tr>
          <tr>
            <div class="btn-group form_">
              <input class="input_" type="text" placeholder="选择学历"/>
            </div>
          </tr>
        </table>
      </form>
    </div>
  </body>
  <script>
  var alert_h = $(".navbar").height();
  var alert_t = (alert_h - $(".choose").height())/2;
  $(".choose").css("margin-top",alert_t);
  $(".publish").css("margin-top",alert_h);
  $(".equalnav").css("height",alert_h);
  $(".sex_man").click(function(){
    $(".sex_woman").removeAttr("checked");
  });
  $(".sex_woman").click(function(){
    $(".sex_man").removeAttr("checked");
  });
  $(".choose").click(function(){
    $(".userform").submit(function(){
      $.ajax({
        url: "/api/user",
        data: $(".userform").serialize(),
        dataType: "application/json",
        error: function(data){
          alert(data.message);
        },
        success: function(data){

        }
      });
    });
  });
  </script>
</html>
