<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-switch.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <script src="static/js/jq.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/bootstrap-switch.min.js"></script>
    <script src="static/js/index.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;" ng-controller="UserInfor">
      <div class="container-fluid" style="">
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <img ng-src="{{userinfor.avatar}}" class="headicon" ><div class="circle"></div>
        </div>
        <div class="col-xs-8 col-md-8" style="text-align:center;">
          <span class="index_kind">首页</span>
        </div>
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <div class="choose">筛选</div>
        </div>
      </div>
    </nav>
    <div class="UserInfor_" ng-controller="UserInfor_">
      <div class="U_head">
        <img ng-src="{{user.avatar}}" class="U_headicon col-xs-5" style="padding:0;">
        <div class="col-xs-7" style="float:left;margin-top:0.5em;margin-left:0.5em;padding:0;"><span class="UserName">{{user.nickname}}</span><br><span class="U_check">{{user.permission}}</span></div>
        <div class="U_circle"></div>
      </div>
      <div class="U_">
        <img src="img/test.jpg" class="U_img">
        <div class="U_circle2"><span class="fri_update">{{user.mes_num}}</span></div>
        <span style="font-size:1.5em;line-height:2em;">好友</span>
        <span id="rec_fri" style="float:right;font-size:1em;line-height:3em;">有新的消息</span>
      </div>
      <div class="U_">
        <img src="img/test.jpg" class="U_img">
        <div class="U_circle3"><span class="mes_update">{{user.upvote_num}}</span></div>
        <span style="font-size:1.5em;line-height:2em;">消息</span>
        <span id="rec_mes" style="float:right;font-size:1em;line-height:3em;">收到<span class="mes_update">{{user.upvote_num}}</span>个赞</span>
      </div>
      <div class="U_">
        <img src="img/test.jpg" class="U_img">
        <div class="U_circle4"><span class="note_update">{{user.sys_num}}</span></div>
        <span style="font-size:1.5em;line-height:2em;">公告</span>
        <span id="rec_note" style="float:right;font-size:1em;line-height:3em;">最近<span class="note_update">{{user.sys_num}}</span>条更新</span>
      </div>
        <button class="U_off">关闭</button>
        <button class="U_logout">注销登录</button>
        <button class="U_change_pass" onclick="window.location = '/changepass'">修改密码</button>
      <div class="hiding">
        <div class="to_friends">
          <span>对好友隐身</span>
            <input type="checkbox" name="my-checkbox" id="hidetof" style="float:right;"/>
        </div>
        <div class="to_strangers">
          <span>对陌生人隐身</span>
          <input type="checkbox" name="my-checkbox" id="hidetos" style="float:right;"/>
        </div>
      </div>
    </div>
    <div class="alert" style="height:20px;" ng-controller="UserInfor_">最近被<span id="z">{{user.upvote_num}}</span>人赞过</div>
    <div class="menu">
      <div class="b_switch">
        <div class="switchon">开启</div>
        <div class="switchoff s_active" >关闭</div>
      </div>
      <table class="c_" ng-controller="filters">
        <tr>
          <td class="td_left" ng-controller="SchoolName">
            <input class="s_check" name="school" id="c_school" type="text" ng-model="filter.school" placeholder="选择学校" style="text-align:left;"/>
            <ul class="SchoolName Fliter_Name">
              <li ng-repeat="school in schools | orderBy:'id' | filter: filter.school" id="{{school.id}}">{{school.name}}</li>
            </ul>
          </td>
          <td class="td_right">
            <input class="s_check" name="major" id="c_subject" type="text" ng-model="filter.subject" placeholder="选择专业" style="text-align:left;"/>
            <ul class="SubjectName Fliter_Name" ng-controller="MajorName">
              <li ng-repeat="major in majors | filter: filter.subject | orderBy:'id'" id="{{major.id}}">{{major.name}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="td_left">
            <input class="s_check" name="degree" id="c_degree" type="text" ng-model="filter.degree" placeholder="选择学历" style="text-align:left;"/>
            <ul class="GradeName Fliter_Name">
              <li id="0">未知</li>
              <li id="1">本科生</li>
              <li id="2">研究生</li>
              <li id="3">博士</li>
            </ul>
          </td>
          <td class="td_right">
            <input class="s_check" name="permission" id="c_permission" type="text" ng-model="filter.permission" placeholder="选择认证" style="text-align:left;"/>
            <ul class="PermissionName Fliter_Name">
              <li>中国</li>
              <li>美国</li>
              <li>英国</li>
              <li>加拿大</li>
            </ul>
          </td>
          <td class="td_left">
            <input class="s_check" name="tall_min" id="c_tall_min" type="number" ng-model="filter.height_min" placeholder="最低身高" style="text-align:left;"/>
          </td>
          <td class="td_right">
            <input class="s_check" name="tall_max" id="c_tall_max" type="number" ng-model="filter.height_max" placeholder="最高身高" style="text-align:left;"/>
          </td>
        </tr>
        <tr>
          <td class="td_left">
            <input class="s_check" name="hometown_city" id="c_hometown" type="text" ng-model="filter.hometown_city" placeholder="选择家乡" style="text-align:left;"/>
            <ul class="HometownName Fliter_Name" ng-controlle="CityName">
              <li ng-repeat="city in cities | orderBy:'id' | filter: filter.hometown_city" id="{{city.id}}">{{city.name}}</li>
            </ul>
          </td>
          <td class="td_right">
            <input class="s_check" name="work_city" id="c_work_city" type="text" ng-model="filter.work_city" placeholder="选择工作地" style="text-align:left;"/>
            <ul class="WorkplaceName Fliter_Name" ng-controller="CityName">
              <li ng-repeat="city in cities | orderBy: 'id' | filter：filter.work_city" id="{{city.id}}">{{city.name}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="td_left">
            <input class="s_check" name="age_min" id="c_age_min" type="text" ng-model="filter.age_min" placeholder="最小年龄" style="text-align:left;"/>
          </td>
          <td class="td_right">
            <input class="s_check" name="age_max" id="c_age_max" type="text" ng-model="filter.agemax" placeholder="最大年龄" style="text-align:left;"/>
          </td>
        </tr>
        <tr>
          <td class="td_left">
            <input class="s_check" name="horoscope" id="c_horoscope" type="text" ng-model="filter.horoscope" placeholder="选择星座" style="text-align:left;"/>
            <ul class="HoroscopeName Fliter_Name" ng-controller="HoroscopeName">
              <li ng-repeat="horoscope in horoscopes | orderBy:'id' | filter: filter.horoscope" id="{{horoscope.id}}">{{horoscope.name}}</li>
            </ul>
        </tr>
      </table>
      <div class="b_switch2" style="margin-top:15px;">
        <div class="cancel">取消</div>
        <div class="verify">确认</div>
      </div>
    </div>
    <div class="friends">
      <div class="wall">
        <div class="wall_nav">
          <span style="float:left;">嘉宾墙</span>
          <span class="wall_more">></span>
        </div>
        <div class="wall_pic">
          <img src="static/images/test.jpg"><img src="static/images/test.jpg"><img src="static/images/test.jpg"><img src="static/images/test.jpg"><img src="static/images/test.jpg">
        </div>
      </div>
    </div>
    <div class="main" ng-controller="user">
      <div class="main_nav row" style="margin-right:0;padding-right:0;">
        <div class="col-xs-4 col-md-4 col1">在线用户<span id="c_sex_">♀</span></div>
        <ul class="choose_sex" style="width:6em;">
          <li id="c_sex_woman">女♂</li>
          <li id="c_sex_man">男♀</li>
        </ul>
        <div class="col-xs-4 col-md-4 col2">最近登录</div>
        <div class="col-xs-4 col-md-4 col3">周热门</div>
      </div>
      <div class="now male">
        <ul>
          <li ng-repeat="online in onlines | filter:{'gender':1} | filter1">
            <div class="user_">
              <div class="col-xs-3">
                <img ng-src="{{online.avatar}}" class="avatar">
              </div>
              <div class="col-xs-9">
                <div class="avatar_nav">
                  <b>{{online.nickname}}</b>♀<span class="age">{{online.age}}</span>
                  <span class="like_num">{{online.like}}</span><img src="img/dz.png" class="like_">
                </div>
                <div class="tags"><span class="tag">{{online.schoolname}}</span><span class="tag">{{online.degree}}</span></div>
                <div class="motto">{{online.motto}}</div>
              </div>
            </div>
            <div class="user_oper" id="{{online.uid}}">
              <div class="col-xs-4 add_fri" style="border-right:1px solid #777;padding:0;">加为好友</div>
              <div class="col-xs-4 send_mes" style="border-right:1px solid #777;padding:0;">发私信</div>
              <div class="col-xs-4 add_black">黑名单</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="now female">
        <ul>
          <li ng-repeat="online in onlines | filter:{'gender':0} | filter1">
            <div class="user_">
              <div class="col-xs-3">
                <img ng-src="{{online.avatar}}" class="avatar">
              </div>
              <div class="col-xs-9">
                <div class="avatar_nav">
                  <b>{{online.nickname}}</b>♂<span class="age">{{online.age}}</span>
                  <span class="like_num">{{online.upvotes}}</span><img src="static/images/dz.png" class="like_">
                </div>
                <div class="tags"><span class="tag">{{online.schoolname}}</span><span class="tag">{{online.degree}}</span></div>
                <div class="motto">{{online.motto}}</div>
              </div>
            </div>
            <div class="user_oper" id="{{school.uid}}">
              <div class="col-xs-4 add_fri" style="border-right:1px solid #777;padding:0;">加为好友</div>
              <div class="col-xs-4 send_mes" style="border-right:1px solid #777;padding:0;">发私信</div>
              <div class="col-xs-4 add_black">黑名单</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="near">
        <ul>
          <li ng-repeat="recent in recents | filter1">
            <div class="user_">
              <div class="col-xs-3">
                <img ng-src="{{recent.avatar}}" class="avatar">
              </div>
              <div class="col-xs-9">
                <div class="avatar_nav">
                  <b>{{recent.nickname}}</b><span class="sex">{{recent.gender}}</span><span class="age">{{recent.age}}</span>
                  <span class="like_num">{{recent.upvotes}}</span><img src="static/images/dz.png" class="like_">
                </div>
                <div class="tags"><span class="tag">{{recent.schoolname}}</span><span class="tag">{{recent.degree}}</span></div>
                <div class="motto">{{recent.motto}}</div>
              </div>
            </div>
            <div class="user_oper" id="{{online.uid}}">
              <div class="col-xs-4 add_fri" style="border-right:1px solid #777;padding:0;">加为好友</div>
              <div class="col-xs-4 send_mes" style="border-right:1px solid #777;padding:0;">发私信</div>
              <div class="col-xs-4 add_black">黑名单</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="weak-hot">
        <ul>
          <li ng-repeat="hot in hots | filter1">
            <div class="user_">
              <div class="col-xs-3">
                <img ng-src="{{hot.avatar}}" class="avatar">
              </div>
              <div class="col-xs-9">
                <div class="avatar_nav">
                  <b>{{hot.nickname}}</b><span class="sex">{{hot.gender}}</span><span class="age">{{hot.age}}</span>
                  <span class="like_num">{{hot.upvotes}}</span><img src="static/images/dz.png" class="like_">
                </div>
                <div class="tags"><span class="tag">{{hot.schoolname}}</span><span class="tag">{{hot.degree}}</span></div>
                <div class="motto">{{hot.motto}}</div>
              </div>
            </div>
            <div class="user_oper" id="{{online.uid}}">
              <div class="col-xs-4 add_fri" style="border-right:1px solid #777;padding:0;">加为好友</div>
              <div class="col-xs-4 send_mes" style="border-right:1px solid #777;padding:0;">发私信</div>
              <div class="col-xs-4 add_black">黑名单</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hiddden="true" style="background:#000;">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <div class="modal-body">asdgasd</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">guanbi</button>
          <button type="button" class="btn btn-primary">change</button>
        </div>
        </div>
        </div>
        </div>
    </div>
  </body>
  <script>
  var myApp = angular.module('myApp',[]);
  $(".add_fri").click(function(){
    var user = $(this).parent().attr("id");
    $.post("/api/user/friends/add",{"target":user},function(data){
      if(data != ""){
        alert("操作成功");
      }
    });
  });
  $(".send_mes").click(function(){
    var user = $(this).parent().attr("id");
    var uid = window.location.pathname.substr(7);
    window.location = "/private/" + uid + "?to=" + user;
  });
  $(".add_black").click(function(){
    var user = $(this).parent().attr("id");
    var check = window.confirm("确认将TA加入黑名单吗？");
    if(check){
      $.post("/api/user/blacklist/add",{"uid":user},function(data){
        if(data != ""){
          alert("操作成功");
        }
      });
    }
  });
  if(window.localStorage){
    $.post("/api/common/school",function(data){
      var schools = JSON.stringify(data);
      window.localStorage.setItem("schools",schools);
    });
    $.post("/api/common/horoscope",function(data){
      var horoscopes = JSON.stringify(data);
      window.localStorage.setItem("horoscopes",horoscopes);
    });
    $.post("/api/common/province",function(province){
      var provinces = [];
      window.localStorage.setItem("provinces",JSON.stringify(province));
    })
    var provinces = window.localStorage.getItem("provinces");
    var cities = [];
    for(var i=0;i<provinces.length;i++){
      $.get("/api/common/city",{"province":i+1},function(city){
        cities.push(city);
      });
    }
    setTimeout(function(){window.localStorage.setItem("cities",JSON.stringify(cities))},5000);
    $.post("/api/common/major",function(data){
      var majors = JSON.stringify(data);
      window.localStorage.setItem("majors",majors);
    });
    if(window.localStorage.getItem("switch") == "on"){
      myApp.controller('filters',function($scope,$http){
        var filter,onlines = [];
        $http.post("/api/wall/get").success(function(data){
          filter = data;
        });
        $http.post("/api/wall/edit_filter",filter,function(data){
          for(var i=0;i<data.length;i++){
            $http.post("/api/wall/get",{"uid":data[i].uid}).success(function(data){
              onlines.push(data);
            });
          }
        });
        $scope.onlines = onlines;
      });
    }else{
      $("#c_school").attr({placeholder:"选择学校",disabled:true});
      $("#c_subject").attr({"placeholder":"选择专业",disabled:true});
      $("#c_degree").attr({"placeholder":"选择学历","disabled":true});
      $("#c_age_min").attr({"placeholder":"最小年龄",disabled:true});
      $("#c_age_max").attr({"placeholder":"最大年龄",disabled:true});
      $("#c_horoscope").attr({"placeholder":"选择星座",disabled:true});
      $("#c_work_city").attr({"placeholder":"（准备）工作地",disabled:true});
      $("#c_tall_min").attr({"placeholder":"最低身高(cm)",disabled:true});
      $("#c_tall_max").attr({"placeholder":"最高身高(cm)",disabled:true});
      $("#c_permission").attr({"placeholder":"选择认证",disabled:true});
      $("#c_hometown").attr({"placeholder":"选择家乡",disabled:true});
      loadonlines();
    }
  }else{
    loadonlines();
  }
  window.localStorage.setItem("later_time",0);
/*  myApp.controller('SchoolName',function($scope){
    var schools = JSON.parse(window.localStorage.getItem("schools"));
    $scope.schools = schools;
  });
  myApp.controller('MajorName',function($scope){
    var majors = JSON.parse(window.localStorage.getItem("majors"));
    $scope.majors = majors;
  });
  myApp.controller('HoroscopeName',function($scope){
    var horoscopes = JSON.parse(window.localStorage.getItem("horoscopes"));
    $scope.horoscopes = horoscopes;
  });
  myApp.controller('CityName',function($scope){
    var provinces = JSON.parse(window.localStorage.getItem("provinces"));
    var citys = [];
    for(var i=0;i<provinces.length;i++){
      var citys0 = provinces[i].cities;
      for(var j=0;j<citys0.length;j++){
        citys.push(citys0[i]);
      }
    }
    $scope.cities = citys;
  });
*/
  myApp.controller('SchoolName',function($scope){
    var schools0 = JSON.parse(window.localStorage.getItem("schools")),schools = [];
    for(var i=0;i<schools0.length;i++){
      var school = {"id":schools0[i].id,"name":schools0[i].name};
      schools.push(school);
    }
    $scope.schools = schools;
  });
  myApp.controller('MajorName',function($scope){
    var majors0 = JSON.parse(window.localStorage.getItem("majors")),majors = [];
    for(var i=0;i<majors0.length;i++){
      var major = {"id":majors0[i].id,"name":majors0[i].name};
      majors.push(major);
    }
    $scope.majors = majors;
  });
  myApp.controller('HoroscopeName',function($scope){
    var horoscopes0 = JSON.parse(window.localStorage.getItem("horoscopes")),horoscopes = [];
    for(var i=0;i<horoscopes0.length;i++){
      var horoscope = {"id":horoscopes0[i].id,"name":horoscopes0[i].name};
      horoscopes.push(horoscope);
    }
    $scope.horoscopes = horoscopes;
  });
  myApp.controller('CityName',function($scope){
    var cities0 = JSON.parse(window.localStorage.getItem("cities")),cities = [];
    for(var i=0;i<cities0.length;i++){
      for(var j=0;j<cities0[i].length;j++){
        var city = {"id":cities0[i][j].id,"name":cities0[i][j].name};
        cities.push(city);
      }
    }
    $scope.cities = cities;
  });
  $(".b_switch").click(function(){
    if(window.localStorage){
      if($(".switchon").hasClass("s_active")){
        window.localStorage.setItem("switch","on");
      }else{
        window.localStorage.setItem("switch","off");
      }
    }else{
      return;
    }
  });
  $.post("/api/user",function(data){
    if(data.online == 0){
      window.location = "login.html";
      if(data.permission == -1){

      }
      else if (data.permission == 0) {
        $(".U_check").text("未认证");
      }
      else if(data.permission == 1){
        $(".U_check").text("认证中");
      }
      else if(data.permission == 2){
        $(".U_check").text("已认证");
      }
      else{
        $(".U_check").text("管理员");
      }
    }
    else if(data.online == 1){
      $("#hidetof").attr("checked",true);
      $("#hidetos").attr("checked",true);
      if(data.permission == -1){

      }
      else if (data.permission == 0) {
        $(".U_check").text("未认证");
      }
      else if(data.permission == 1){
        $(".U_check").text("认证中");
      }
      else if(data.permission == 2){
        $(".U_check").text("已认证");
      }
      else{
        $(".U_check").text("管理员");
      }
    }
    else if(data.online == 2){
      $("#hidetof").attr("checked",false);
      $("#hidetos").attr("checked",true);
      if(data.permission == -1){

      }
      else if (data.permission == 0) {
        $(".U_check").text("未认证");
      }
      else if(data.permission == 1){
        $(".U_check").text("认证中");
      }
      else if(data.permission == 2){
        $(".U_check").text("已认证");
      }
      else{
        $(".U_check").text("管理员");
      }
    }
    else if(data.online == 3){
      $("#hidetof").attr("checked",true);
      $("#hidetos").attr("checked",false);
      if(data.permission == -1){

      }
      else if (data.permission == 0) {
        $(".U_check").text("未认证");
      }
      else if(data.permission == 1){
        $(".U_check").text("认证中");
      }
      else if(data.permission == 2){
        $(".U_check").text("已认证");
      }
      else{
        $(".U_check").text("管理员");
      }
    }
    else{
      $("#hidetof").attr("checked",false);
      $("#hidetos").attr("checked",false);
      if(data.permission == -1){
        $(".U_check").text("被封号");
      }
      else if (data.permission == 0) {
        $(".U_check").text("未认证");
      }
      else if(data.permission == 1){
        $(".U_check").text("认证中");
      }
      else if(data.permission == 2){
        $(".U_check").text("已认证");
      }
      else{
        $(".U_check").text("管理员");
      }
    }
  });
  $.post("/api/message/get",function(result){
    if(result.limit == 0 || result.limit == undefined ){
      return;
    }else{
      $(".U_circle2").show();
      $("#rec_fri").show();
      $(".fri_update").text(result.limit);
    }
  });
  $.post("/api/wall/get",function(data){
    $(".U_circle3").show();
    $("#rec_mes").show();
    $(".mes_update").text(data.upvotes);
  });
  myApp.controller('UserInfor',function($scope,$http){
    $http.get("/api/user/meta").success(function(data){
      $scope.userinfor = data;
    });
  });
  myApp.controller('UserInfor_',function($scope,$http){
    var user;
    $http.get("/api/user/meta").success(function(data){
      user = data;
    });
    $http.get("/api/user").success(function(data){
      user = $.extend({},user,{"permission":data.permission});
    });
    var later = window.localStorage.getItem("later_time");
    $http.get("/api/message/get",{"later_than":later},function(data){
      if(data.length > 0){
        $("#rec_fri").show();
        $(".U_circle2").show();
      }
      user = $.extend({},user,{"mes_num":data.length});
    });
    $http.get("/api/wall/upvote/new").success(function(data){
      if(data.length > 0){
        $("#rec_mes").show();
        $(".U_circle3").show();
      }
      user = $.extend({},user,{"upvote_num":data.length});
    });
    $http.get("/api/notifications",{"later_than":later}).success(function(data){
      if(data.length > 0){
        $("#rec_note").show();
        $(".U_circle4").show();
      }
      user = $.extend({},user,{"sys_num":data.length});
    });
  });
  function loadonlines(){myApp.controller('user',function($scope,$http){
    $http.post("/api/user/onlines").success(function(data){
      for(var i = 0;i < data.length;i++){
        var uid = data[i].uid;
        $.post("/api/wall/school/get",{"uid":uid},function(result){
          var schoolname = result.school_name;
          var degree = result.degree;
          if(degree == 0){
            degree = "未知";
          }else if(degree == 1){
            degree = "本科生";
          }else if(degree == 2){
            degree = "研究生";
          }else{
            degree = "博士";
          }
          var a = {"schoolname":schoolname,"degree":degree};
          $.extend({},data[i],a);
        });
        $.post("/api/wall/guestwall",{"uid":uid},function(result){
          var upvote = {"upvotes":result.upvotes};
          $.extend({},data[i],upvote);
        });
      }
      $scope.onlines = data;
    });
    $http.post("/api/user/hot").success(function(data){
      for(var i = 0;i < data.length;i++){
        var uid = data[i].uid;
        $.post("/api/wall/guestwall",{"uid":uid},function(result){
          var upvote = {"upvotes":result.upvotes};
          $.extend({},data[i],upvote);
        });
        $.post("/api/user/school/get",{"uid":uid},function(result){
          var schoolname = result.school_name;
          var degree = result.degree;
          var a = {"schoolname":schoolname,"degree":degree};
          $.extend({},data[i],a);
        });
        if(data[i].gender == 0){
          data[i].gender == "♂";
        }
        else{
          data[i].gender == "♀";
        }
      }
      $scope.hots = data;
    });
    $http.post("/api/user/recent_login").success(function(data){
      for(var i = 0;i < data.length;i++){
        var uid = data[i].uid;
        $.post("/api/wall/guestwall",{"uid":uid},function(result){
          var upvote = {"upvotes":result.upvotes};
          $.extend({},data[i],upvote);
        });
        $.post("/api/user/school/get",{"uid":uid},function(result){
          var schoolname = result.school_name;
          var degree = result.degree;
          var a = {"schoolname":schoolname,"degree":degree};
          $.extend({},data[i],a);
        });
        if(data[i].gender == 0){
          data[i].gender == "♂";
        }
        else{
          data[i].gender == "♀";
        }
      }
      $scope.recents = data;
    });
  });
}
function load_filter_onlines(){
  myApp.controller('user',function($scope,$http){
  $http.post("/api/user/onlines").success(function(data){
    for(var i = 0;i < data.length;i++){
      var uid = data[i].uid;
      $.post("/api/wall/school/get",{"uid":uid},function(result){
        var schoolname = result.school_name;
        var degree = result.degree;
        if(degree == 0){
          degree = "未知";
        }else if(degree == 1){
          degree = "本科生";
        }else if(degree == 2){
          degree = "研究生";
        }else{
          degree = "博士";
        }
        var a = {"schoolname":schoolname,"degree":degree};
        $.extend({},data[i],a);
      });
      $.post("/api/wall/guestwall",{"uid":uid},function(result){
        var upvote = {"upvotes":result.upvotes};
        $.extend({},data[i],upvote);
      });
    }
    $scope.onlines = data;
  });
  $http.post("/api/user/hot").success(function(data){
    for(var i = 0;i < data.length;i++){
      var uid = data[i].uid;
      $.post("/api/wall/guestwall",{"uid":uid},function(result){
        var upvote = {"upvotes":result.upvotes};
        $.extend({},data[i],upvote);
      });
      $.post("/api/user/school/get",{"uid":uid},function(result){
        var schoolname = result.school_name;
        var degree = result.degree;
        var a = {"schoolname":schoolname,"degree":degree};
        $.extend({},data[i],a);
      });
      if(data[i].gender == 0){
        data[i].gender == "♂";
      }
      else{
        data[i].gender == "♀";
      }
    }
    $scope.hots = data;
  });
  $http.post("/api/user/recent_login").success(function(data){
    for(var i = 0;i < data.length;i++){
      var uid = data[i].uid;
      $.post("/api/wall/guestwall",{"uid":uid},function(result){
        var upvote = {"upvotes":result.upvotes};
        $.extend({},data[i],upvote);
      });
      $.post("/api/user/school/get",{"uid":uid},function(result){
        var schoolname = result.school_name;
        var degree = result.degree;
        var a = {"schoolname":schoolname,"degree":degree};
        $.extend({},data[i],a);
      });
      if(data[i].gender == 0){
        data[i].gender == "♂";
      }
      else{
        data[i].gender == "♀";
      }
    }
    $scope.recents = data;
  });
})
  .filter('filter1',function(){
    return function(items){
      angular.forEach(items,function(item,i){
        var check = 0;
        for(var j=0;j<uid.length;j++){
          if (item.uid == uid0[i].uid) {
            check = 1;
            continue;
          }
        }
        if(check == 0){
          for(var h=i;h<items.length;h++){
            items[h] = items[h+1];
          }
          items.pop();
        }
      });
      return items;
    }
  });
}
  $(".verify").click(function(){
    var schoolname = $("#c_school").val(),school;
    var schools = window.localStorage.getItem("schools");
    for(var i=0;i<schools.length;i++){
      if(schools[i].name == schoolname){
        school = schools[i].id;
        return;
      }else{
        $("#myModel").modal('show');
        $(".model-body").text("请检查是否输入有误");
        return;
      }
    }
    var majorname = $("#c_subject").val(),major;
    var majors = window.localStorage.getItem("majors");
    for(var i=0;i<majors.length;i++){
      if(majors[i].name == majorname){
        major = majors[i].id;
        return;
      }else{
        alert("请检查是否输入有误");
        return;
      }
    }
    var horoscopename = $("#c_horoscope").val(),horoscope;
    var horoscopes = window.localStorage.getItem("horoscopes");
    for(var i=0;i<horoscopes.length;i++){
      if(horoscopes[i].name == horoscopename){
        horoscope = horoscopes[i].id;
        return;
      }else{
        alert("请检查是否输入有误");
        return;
      }
    }
    var degreename = $("#c_degree").val(),degree;
    for(var i=0;i<4;i++){
      if($(".GradeName>li").eq(i).val() == degreename){
        degree = $(".GradeName>li").eq(i).attr("id");
      }else{
        alert("请检查是否输入有误");
        return;
      }
    }
    var homecityname = $("#c_hometown").val(),hometown;
    var provinces = JSON.parse(window.localStorage.getItem("provinces"));
    var citys = [];
    for(var i=0;i<provinces.length;i++){
      var citys0 = provinces[i].cities;
      for(var j=0;j<citys0.length;j++){
        citys.push(citys0[i]);
      }
    }
    for(var i=0;i<citys.length;i++){
      if(citys[i].name == homecityname){
        hometown = citys[i].id;
        return;
      }else{
        alert("请检查是否输入有误");
        return;
      }
    }
    var workcityname = $("#c_hometown").val(),workcity;
    var provinces = JSON.parse(window.localStorage.getItem("provinces"));
    var citys = [];
    for(var i=0;i<provinces.length;i++){
      var citys0 = provinces[i].cities;
      for(var j=0;j<citys0.length;j++){
        citys.push(citys0[i]);
      }
    }
    for(var i=0;i<citys.length;i++){
      if(citys[i].name == workcityname){
        workcity = citys[i].id;
        return;
      }else{
        alert("请检查是否输入有误");
        return;
      }
    }
    var minage = $("#c_age_min").val();
    var maxage = $("#c_age_max").val();
    var mintall = $("#c_tall_min").val();
    var maxtall = $("#c_tall_max").val();
    $.post("/api/wall/edit_filter",{"school":school,"degree":degree,"age_min":minage,"age_max":maxage,"height_min":mintall,"height_max":maxtall,"hometown_city":hometown,"work_city":workcity,"horoscope":horoscope},function(data){
      if(data != ""){
        alert("操作成功");
        setTimeout("window.location.reload()",1000);
      }
    });
  });
  </script>
</html>
