<!DOCTYPE html>
<html lang="zh-CN" ng-app="login">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/login.css" rel="stylesheet">
    <script src="static/js/jq.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-cookies.min.js"></script>
  </head>
  <body ng-controller="myController">
    <div class="login-logo"></div>
    <form class="b_flame" method="post" ng-submit="submitForm(myForm.$valid)" name="myForm" novalidate>
        <input type="number" class="flame_disp" name="phone" placeholder="  手机号:" required ng-model="tel" ng-minlength='11' ng-maxlength='11'/>
        <span ng-show="myForm.tel.$dirty && myForm.tel.$valid"></span>
        <input type="password" class="flame_disp" name="password" placeholder="  密码:最小长度为8" required ng-minlength='8' ng-model="pass"/>
        <br><span ng-show="myForm.password.$dirty && myForm.password.$valid"></span>
        <div style="margin-top:-1em;line-height:2em;"><input type="checkbox" class="remember" name="remember" /><span style="line-height:2em;">记住我</span></div>
      <input type="submit" class="btn btn-default form-control flame_disp" id="submit" ng-disabled="myForm.phone.$invalid || myForm.password.$invalid" value="登录">
    </form>
    <div style="padding:0 10px;"><button type="submit" class="btn btn-default form-control flame_disp reg">注册</button></div>
    <a class="forget">忘记密码</a>
  </body>
  <script type="text/javascript">
    $(".reg").click(function(){
      window.location = "/reg";
    });
    var myApp = angular.module('login', [])
    myApp.controller('myController', function($scope) {
      $scope.submitForm = function(isValid) {
            if (!isValid) {
                alert('请注意格式');
            }
        };
      }
    );

    $("#submit").click(function(){
      $(".b_flame").submit(function(){
        $.ajax({
          url: "/api/user/login",
          data: $(".b_flame").serialize(),
          dataType: "json",
          method: "POST",
          error: function(data){
            alert(data.message);
          },
          success: function(data){
            if(data.uid){
              alert("登录成功");
              setTimeout(function(){ window.location = "/";}, 200);
            } else {
              alert(data.message);
            }
          }
        });
      });
    });
  </script>
</html>
