<!DOCTYPE html>
<html lang="zh-CN" ng-app="login">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - 校遇</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/login.css" rel="stylesheet">
    <script src="static/js/jq.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-cookies.min.js"></script>
  </head>
  <body ng-controller="myController">
    <img src="/static/images/login/login_logo.png" style="margin-bottom:40px;max-width:100%;">
    <form class="b_flame" method="post" ng-submit="submitForm(myForm.$valid)" name="myForm" novalidate>
        <div class="input-group" style="border-top-left-radius:10px; border-top-right-radius:10px; width:100%; height:50px; background-color: rgba(255, 255, 255, 0.5);">
          <div class="input-group-addon" style="background:none; border:0;"><img src="/static/images/login/login_icon1.png" height="40px"></div>
          <input type="text" class="flame_disp phone_input" name="phone" placeholder="手机号" required ng-model="tel" ng-minlength='11' ng-maxlength='11'/>
        </div>
        <div class="input-group" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px; width:100%; height:50px; background-color: rgba(255, 255, 255, 0.5); border-top:solid 1px #c5d2da;">
          <div class="input-group-addon" style="background:none; border:0;"><img src="/static/images/login/login_icon2.png" height="40px"></div>
          <input type="password" class="flame_disp" name="password" placeholder="密码" required ng-minlength='8' ng-model="pass"/>
        </div>
        <br>
        <span style="color:red" id="hint_span"></span>
        <span ng-show="myForm.tel.$dirty && myForm.tel.$valid"></span>
        <span ng-show="myForm.password.$dirty && myForm.password.$valid"></span>
        <div style="margin-top:-1em;line-height:2em; display:none;"><input type="checkbox" class="remember" name="remember" /><span style="line-height:2em;">记住我</span></div>

        <input type="submit" class="login_btn" id="submit"  value="登录">
      <!--ng-disabled="myForm.phone.$invalid || myForm.password.$invalid"-->
    </form>
    
    <a class="forget">忘记密码</a>

    <div style="margin-top:20px; padding-top:15px; width:100%; border-top: solid 1px #777;">
      <a href="/reg" class="reg">新用户注册</a>
    </div>

  </body>
  <script type="text/javascript">
   
    var myApp = angular.module('login', [])
    myApp.controller('myController', function($scope) {
      $scope.submitForm = function(isValid) {
            if (!isValid) {
                //alert('请注意格式');
            }
        };
      }
    );

    
    $(".b_flame").submit(function(){
      $.ajax({
        url: "/api/user/login",
        data: $(".b_flame").serialize(),
        dataType: "json",
        method: "POST",
        error: function(data){
          $('#hint_span').text(data.message);
        },
        success: function(data){
          if(data.uid){
            //alert("登录成功");
            setTimeout(function(){ window.location = "/";}, 200);
          } else {
            $('#hint_span').text(data.message);
          }
        }
      });
      return false;
    });
  
  </script>
</html>
