<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TA的主页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/others.css" rel="stylesheet">
    <script src="js/jq.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/Jquery.Query.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;">
      <div class="container row" style="">
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <span class="back" ><</span>
        </div>
        <div class="col-xs-8 col-md-8" style="text-align:center;">
          <span class="index_kind">TA的主页</span>
        </div>
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <div class="choose">操作</div>
        </div>
      </div>
    </nav>
    <div class="control">
      <div class="makefriends">加为好友</div>
      <div class="sendmessage">发消息</div>
      <div class="blacklist">黑名单</div>
      <div class="report">举报</div>
    </div>
    <div class="main" ng-controller="userinfor">
      <div class="other_head">
        <img ng-src="{{user.avatar}}" class="head">
        <div class="dz">
          <img src="img/dz.jpg"><br>
          <span class="num_dz">{{user.upvotes}}</span>
        </div>
      </div>
      <div class="other_intro">
        <div class="user">
          <div class="user_name"><b>{{user.nickname}}</b> {{user.gender}}{{user.age}}</div>
          <div class="user_check">认证中</div>
          <div class="tags">
            <ul>
              <li>{{user.schoolname}}</li><li>{{user.degree}}</li>
            </ul>
          </div>
          <div class="motto">
            {{user.motto}}
          </div>
        </div>
      </div>
      <div class="heads">
        <img src="img/test.jpg"><img src="img/test.jpg"><img src="img/test.jpg"><img src="img/test.jpg"><img src="img/test.jpg"><img src="img/test.jpg">
      </div>
      <div class="more">
        <div class="visit"><span class="visit_num">{{user.contact}}</span>访客</div><a class="moreinfor">详细资料</a>
      </div>
    </div>
    <div class="share" ng-controller="usershares">
      <div class="s_title">说说（{{number}}）</div>
      <ul>
        <li ng-repeat="tweet in tweets">
          <img ng-src="{{tweet.photos}}"><div class="desc">{{tweet.content}}</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">2一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">3一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">4一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">5一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">6一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">7一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">8一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="desc">9一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
      </ul>
      <div class="spread">
        <a>展开更多</a>
      </div>
      <div class="page">
        <a class="last">上一页</a><a class="first">首页</a><a class="next">下一页</a><a class="end">末页</a>
      </div>
    </div>
    <div class="message" ng-controller="usermessages">
      <div class="s_title">留言板（{{number}}）</div>
      <ul>
        <li ng-repeat="message in messages">
          <img ng-src="{{message.avatar}}"><div class="r_con"><a>{{message.nickname}}</a>：{{message.content}}</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="r_con"><a>Username</a>：图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
        <li>
          <img src="img/test.jpg"><div class="r_con"><a>Username</a>：起发仙侣图中的美好一起发仙侣图中的美好一起发仙侣</div>
        </li>
      </ul>
      <div class="spread">
        <a>展开更多</a>
      </div>
      <div class="page">
        <a class="last">上一页</a><a class="first">首页</a><a class="next">下一页</a><a class="end">末页</a>
      </div>
      <div class="publish">
        <form method="post" action="">
          <input type="text" name="content" placeholder="我来说两句" class="p_con">
          <input type="submit" name="public" id="public" value="公开">
          <input type="submit" name="privacy" id="privacy" value="私密">
        </form>
      </div>
    </div>
  </body>
  <script>
  var alert_h = $(".navbar").height();
  var alert_t = (alert_h - $(".choose").height())/2;
  $(".choose").css("margin-top",alert_t);
  $(".main").css("margin-top",alert_h);
  $(".share ul li:gt(2)").hide();
  $(".back").click(function(){
    window.history.back(-1);
  });
  //pages of share

  $(".share .spread").click(function(){
    $(this).addClass("s_active");
    $(this).hide();
    var length = $(".share ul li").length;
    var max;
    for(var i=0;i<length;i++){
      if(!$(".share ul li").eq(i).is(":hidden")){
        max = i;
      }
    }
    $(".share ul li").slice(max-1,max+4).fadeIn();
  });
  $(".share .next").click(function(){
    var length = $(".share ul li").length;
    var max;
    for(var i=0;i<length;i++){
      if(!$(".share ul li").eq(i).is(":hidden")){
        max = i;
      }
    }
    if(!$(".share .spread").is(":hidden") && max != length-1){
      $(".share ul li").hide();
      $(".share ul li").slice(max+1,max+4).fadeIn();
    }
    else if($(".share .spread").is(":hidden") && max != length-1){
      $(".share ul li").hide();
      $(".share ul li").slice(max+1,max+7).fadeIn();
    }
  });
  $(".share .last").click(function(){
    var length = $(".share ul li").length;
    var min;
    for(var i=length-1;i>=0;i--){
      if(!$(".share ul li").eq(i).is(":hidden")){
        min = i;
      }
    }
    if(min != 0){
      if(!$(".share .spread").is(":hidden")){
        $(".share ul li").hide();
        $(".share ul li").slice(min-3,min).fadeIn();
      }
      else if($(".share .spread").is(":hidden") && min < 6){
        $(".share ul li").hide();
        $(".share ul li").slice(0,min).fadeIn();
      }
      else{
        $(".share ul li").hide();
        $(".share ul li").slice(min-6,min).fadeIn();
      }
    }
  });
  $(".share .first").click(function(){
    if(!$(".share .spread").is(":hidden")){
      $(".share ul li").hide();
      $(".share ul li:lt(3)").fadeIn();
    }
    else{
      $(".share ul li").hide();
      $(".share ul li:lt(6)").fadeIn();
    }
  });
  $(".share .end").click(function(){
    var length = $(".share ul li").length;
    if(!$(".share .spread").is(":hidden")){
      $(".share ul li").hide();
      $(".share ul li").slice(length-3,length).fadeIn();
    }
    else{
      $(".share ul li").hide();
      $(".share ul li").slice(length-6,length).fadeIn();
    }
  });

  //pages of message

  $(".message .spread").click(function(){
    $(this).hide();
    var length = $(".message ul li").length;
    var max;
    for(var i=0;i<length;i++){
      if(!$(".message ul li").eq(i).is(":hidden")){
        max = i;
      }
    }
    $(".message ul li").slice(max-1,max+4).fadeIn();
  });
  $(".message .next").click(function(){
    var length = $(".message ul li").length;
    var max;
    for(var i=0;i<length;i++){
      if(!$(".message ul li").eq(i).is(":hidden")){
        max = i;
      }
    }
    if(!$(".message .spread").is(":hidden") && max != length-1){
      $(".message ul li").hide();
      $(".message ul li").slice(max+1,max+4).fadeIn();
    }
    else if($(".message .spread").is(":hidden") && max != length-1){
      $(".message ul li").hide();
      $(".message ul li").slice(max+1,max+7).fadeIn();
    }
  });
  $(".message .last").click(function(){
    var length = $(".message ul li").length;
    var min;
    for(var i=length-1;i>=0;i--){
      if(!$(".message ul li").eq(i).is(":hidden")){
        min = i;
      }
    }
    if(min != 0){
      if(!$(".message .spread").is(":hidden")){
        $(".message ul li").hide();
        $(".message ul li").slice(min-3,min).fadeIn();
      }
      else if($(".message .spread").is(":hidden") && min < 6){
        $(".message ul li").hide();
        $(".message ul li").slice(0,min).fadeIn();
      }
      else{
        $(".message ul li").hide();
        $(".message ul li").slice(min-6,min).fadeIn();
      }
    }
  });
  $(".message .first").click(function(){
    if(!$(".message .spread").is(":hidden")){
      $(".message ul li").hide();
      $(".message ul li:lt(3)").fadeIn();
    }
    else{
      $(".message ul li").hide();
      $(".message ul li:lt(6)").fadeIn();
    }
  });
  $(".message .end").click(function(){
    var length = $(".message ul li").length;
    if(!$(".message .spread").is(":hidden")){
      $(".message ul li").hide();
      $(".message ul li").slice(length-3,length).fadeIn();
    }
    else{
      $(".message ul li").hide();
      $(".message ul li").slice(length-6,length).fadeIn();
    }
  });

  //control at the top-right

  $(".choose").click(function(){
    if(!$(this).hasClass("c_active")){
      $(this).addClass("c_active");
      $(".control").slideDown();
    }
    else{
      $(this).removeClass("c_active");
      $(".control").slideUp();
    }
  });

  //
  var uid = $.query.get('uid');
  var myApp = angular.module('myApp',[]);
  myApp.controller('userinfor',function($scope,$http){
    var user;
    $http.post("/api/user/meta",{"uid":uid}).success(function(data){
      if(data.gender == 0){
        data.gender = "♂";
      }else{
        data.gender = "♀";
      }
      user = data;
    });
    $http.post("/api/wall/get",{"uid":uid}).success(function(data){
      var user0 = {"upvotes":data.upvotes};
      $.extend({},user,user0);
    });
    $http.post("/api/user/school/get",{"uid":uid}).success(function(data){
      var user1 = {"schoolname":data.school_name,"degree":data.degree};
      $.extend({},user,user1);
    });
    $scope.user = user;
  });
  myApp.controller('usershares',function($scope,$http){
    $http.post("/api/tweet/user",{"uid":uid}).success(function(data){
      var pathname = window.location.pathname;
      var id = pathname.substr(9);
      $.post("/api/user/friends",{"uid":uid},function(data){

      });
      $scope.number = data.length;
      $scope.tweets = data;
    });
  });
  myApp.controller('usermessages',function($scope,$http){
    var message = [];
    $http.post("/api/message/get",{"uid":uid}).success(function(data){
      for(var i=0;i<data.length;i++){
        var uid = data[i].user;
        message[i] = data[i];
        $http.get("/api/user/meta",{"uid":uid}).success(function(data){
          $.extend({},message[i],{"nickname":data.nickname});
          $.extend({},message[i],{"avatar":data.avatar});
        });
      }
    });
    $scope.number = message.length;
    $scope.messages = message;
  });
  $("#public").click(function(){
    if($(".p_con").val() != ""){
      $.post("/api/message/add",{"uid":uid,"content":$(".p_con").val(),"visibility":0},function(data){
        if(data != ""){
          alert("发送成功!");
          setTimeout("window.location.reload()",1000);
        }
      });
    }else{
      return;
    }
  });
  $("#privacy").click(function(){
    if($(".p_con").val() != ""){
      $.post("/api/message/add",{"uid":uid,"content":$(".p_con").val(),"visibility":2},function(data){
        if(data != ""){
          alert("发送成功!");
          setTimeout("window.location.reload()",1000);
        }
      });
    }else{
      return;
    }
  });
  </script>
</html>
