<!DOCTYPE html>
<html lang="zh-CN" ng-app="reg">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>register</title>
    <link href="css/reg.css" rel="stylesheet">
    <script src="js/jq.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/reg.js"></script>
  </head>
  <body ng-controller="myController">
    <div class="welcome">

    </div>
    <form class="reg_form" method="post" name="myForm" novalidate>
        <input type="number" class="reg_f1" name="phone" placeholder="  手机号:" required ng-model="phone" ng-minlength='11' ng-maxlength='11'/>
        <span ng-show="myForm.phone.$dirty && myForm.phone.$valid"></span>
        <input type="text" class="reg_f2" name="vcode" placeholder="  填写验证码:" required ng-model="check">
        <input type="button" class="check" id="check" value="获取验证码">
        <span ng-show="myForm.check.$dirty && myForm.check.$valid"></span>
        <input type="password" class="reg_f1" name="password" id="pass" placeholder="  设置密码:" required ng-minlength='8' ng-model="pass"/>
        <span ng-show="myForm.pass.$dirty && myForm.pass.$valid"></span>
        <input type="password" class="reg_f1" name="r_password" id="r_pass" placeholder="  密码确认:" required ng-minlength='8' ng-model="r_pass"/>
        <span ng-show="myForm.r_pass.$dirty && myForm.r_pass.$valid"></span>
        <input type="checkbox" class="reg_f3" name="tready">
        <span class="reg_f4">用户协议</span><a class="reg_f5">展开</a>
        <div class="tready">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
        <input type="submit" class="reg_" ng-disabled="myForm.phone.$invalid || myForm.password.$invalid || myForm.r_password.$invalid || myForm.check.$invalid" value="注册">
    </form>
  </body>
  <script type="text/javascript">
    $(".reg_f5").click(function(){
      if($(this).text() == "展开"){
        $(".tready").slideDown();
        $(this).text("收起");
      }
      else{
      $(".tready").slideUp();
      $(this).text("展开");
    }
  });
  angular.module('reg', [])
      .controller('myController', function($scope) {
          $scope.submitForm = function(isValid) {
              if (!isValid) {
                  alert('请输入正确的手机号码');
              }
          };
      }
  );
  $(".check").click(function(){
    var numbers = /^1\d{10}$/;
    var val = $(".reg_f1").val().replace(/\s+/g,"");
    if(!numbers.test(val) || val.length ==0){
      alert("手机格式错误");
    }
    else{
      $.post("/api/user/verify",{phone:$(".reg_f1").val()},function(data){
        if(data.code == 0 && data.msg == "OK"){
          alert("短信已发送");
        }
        else{
          alert("发生错误:"+data.msg);
        }
        var count = 60;
        var countdown = setInterval(CountDown, 1000);
        function CountDown() {
          $(".check").attr("disabled", true);
          $(".check").val(count + "秒后重发");
          if (count == 0) {
            $(".check").val("获取验证码").removeAttr("disabled");
            clearInterval(countdown);
          }
          count--;
        }
      });
    }
  });

  $(".reg_").click(function () {
    if($("#pass").val() != $("#r_pass").val()){
      alert("密码不一致");
    }
    else if(!$(".reg_f3").is(":checked")){
      alert("请同意用户协议");
    }else{
      $(".reg_form").submit(function(){
        $.ajax({
          url: "/api/register",
          data: $(".reg_form").serialize(),
          dataType: "application/json",
          error: function(data){
            alert(data.message);
          },
          success: function(data){
            alert("注册成功");
            window.location = "/login";
          }
        });
      });
    }
  });
  </script>
</html>
