<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>publish</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/reply.css" rel="stylesheet">
    <script src="/static/js/jq.js"></script>
    <script src="/static/js/Jquery.Query.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#333;color:white;margin-bottom:0;">
      <div class="container row" style="">
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <span class="back" ><</span>
        </div>
        <div class="col-xs-8 col-md-8" style="text-align:center;">
          <span class="index_kind">TA的主页</span>
        </div>
        <div class="col-xs-2 col-md-2" style="padding:0;">
          <a class="choose" href="#">发布</a>
        </div>
      </div>
    </nav>
    <textarea class="reply" name="reply" placeholder="回复："></textarea>
  </body>
  <script>
  $(".back").click(function(){
    window.history.back(-1);
  });
  var alert_h = $(".navbar").height();
  var alert_t = (alert_h - $(".choose").height())/2;
  $(".choose").css("margin-top",alert_t);
  $(".reply").css("margin-top",alert_h);
  var user = $.query.get("uid"),name;
  $.get("/api/user/meta",{"uid":uid},function(data){
    name = data.nickname
  });
  $(".reply").attr("placeholder","回复："+name);
  $(".choose").click(function(){
    var url0 = window.location.pathname.substr(2,5);
    if(url0 == "reply"){
      
    }else{

    }
  });
  </script>
</html>
