{% extends 'admin/base.html' %}

{% block title %}用户管理{% endblock %}

{% block beforehead %}

<script type="text/javascript">
    
var queryArgs = getArgs();
var page_index = 1;
if(queryArgs.page) {
    page_index = parseInt(queryArgs.page);
}

$(getList(page_index));

function getList(page, callback) {
    getApi('/api/admin/abuse_report/get?page=' + page_index , function(err, r){
        if(err){
            return showError(err.message);
        } else {
            if(callback) {
                return callback && callback(r);
            } else {
                return initVM(r);
            }
        }
    });
}


function initVM(data) {
    $('#div-').show();
    var vm = new Vue({
        el: '#div-reports',
        data: {
            items: data.reports,
            page: data.page
        },
        methods: {
            previous: function () {
                var v = this;
                getList(page.page_index - 1, function(r) {
                    v.items = r.reports;
                    v.page = r.page;
                });
            },
            next: function () {
                var v = this;
                getList(page.page_index + 1, function(r) {
                    v.items = r.reports;
                    v.page = r.page;
                })
            },
            markAsRead: function (item) {
                var v =this;
                showConfirm('操作确认', '确定设置已读？设置后此条信息将不可见', function () {
                    postApi('/api/admin/abuse_report/read?id=' + item.id, {}, function (err, r) {
                        if (err) {
                            return showError(err);
                        }
                        for (var i = 0; i<v.items.length; i++) {
                            if(v.items[i].id == item.id) {
                                v.items.splice(i, 1);
                                break;
                            }
                        }
                    });
                });
            }
        }
    });
}



</script>

{% endblock %}

{% block content %}

<div class="uk-width-2-10">
    <div class="uk-nav-side uk-nav" data-uk-nav="">
        <li class="uk-nav-header">用户管理</li>
        <li><a href="/admin/user">用户列表</a></li>
        <li><a href="/admin/school">学校审核</a></li>
        <li><a href="/admin/message">群发消息</a></li>
        <li class="uk-active"><a href="#">举报处理</a></li>
    </div>
</div>

<div class="uk-width-8-10">
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
    </div>

    <div class="uk-width-1-1"  id="div-reports">
        <div v-repeat="item: items">
            <div class="uk-panel uk-panel-box">
                 <article class="uk-article">
                    <p class="uk-article-title" v-text="'来源：' + item.from.uid + ' / ' + item.from.phone + ' / ' + item.from.nickname" style="font-size: 24px; margin-top: 0px; margin-bottom: 0px"></p>
                    <a class="uk-article-meta" target="_bladnk" v-attr="href: #" v-text="item.created_at"></a>
                    <hr class="uk-article-divider" style="margin-bottom: 0px; margin-top: 0px">
                    <p v-text="item.content"></p>
                    <img v-if="item.photo" v-attr="src: '/'+item.photo+'?full=1'" alt="">
                    <a href="#0" v-on="click: markAsRead(item)"><i class="uk-icon-check"> 标记为已读</i></a>
                 </article>
             </div>
             <br />
        </div>
        <br />

        <div class="uk-width-1-1 uk-text-center">
            <ul class="uk-pagination">
                <li v-if="! page.has_previous" class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                <li v-if="page.has_previous"><a v-on="click: previous()" href="#0"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="uk-active"><span v-text="page.page_index"></span></li>
                <li v-if="! page.has_next" class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
                <li v-if="page.has_next"><a v-on="click: next()" href="#0"><i class="uk-icon-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
