html,body{
  background: #ddd;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #777;
  font-size: 18px;
}
select,input{
  margin: 1px;
}
table tr{
  height: 3em;
}
table{
  width: 100%;
  height: auto;
}
.back{
  margin: auto;
  float:left;
  font-size: 30px;
  margin-top:4px;
  margin-left: 20%;
}
.choose{
  width: 50px;
  height: 22px;
  font-size: 18px;
  background: #888;
  float: right;
  color:white;
  text-align: center;
  line-height: 22px;
  margin-right: 5%;
}
.index_kind{
  font-size: 24px;
  margin: auto;
  line-height: 2;
}
.main{
  padding: 1em;
  width: 100%;
  height: auto;
  background: #fff;
  font-size: 18px;
}
.form_{
  width: 100%;
  height: 2.6em;
  border-radius: 0;
  z-index: 1000;
  margin-bottom: 1em;
}
.form_ input{
  border: 0;
  width: 90%;
  margin-right: 5%;
  font-size: 1.5em;
}
.dropdown-toggle input{
  border: 0;
}
ul li{
  z-index: 9999;
  display: block;
}
.col-xs-4{

}
.grid{
  display: grid;
  background-color: orange;
  grid-definition-columns: auto;
  grid-definition-rows: auto;
}
.head{
  grid-column: 1;
  grid-row: 1 ;
  height: 5em;
  width: 99%;
  margin-left: 0.5%;
  background: #fff;
  border: 1px solid #000;
}
.nickname{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 2em;
  border: 1px solid #999;
  margin: 1px;
}
.sex{
  margin-top: 0.7em;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.birth{
  width: 100%;
  height: auto;
}
.birth input{
  height: 1.5em;
}
.dropdown-toggle{
  border: 1px solid #555;
  margin-bottom: 1em;
}
.tall{
  width: 100%;
  height: 2.5em;
}
.real_name1{
  width: 100%;
  height: auto;
  font-size: 1em;
  margin-bottom: 0.5em;
}
.real_name{
  width: 70%;
  height: 2.5em;
  border: 1px solid #999;
}
.pub_{
  width: 0.8em;
  height: 0.8em;
}
.tel1{
  width: 100%;
  height: auto;
  font-size: 1em;
}
.tel{
  width: 70%;
  height: 2.5em;
  border: 1px solid #999;

}
.school{
  width: 100%;
  height: 2em;
}
.school_{
  margin-top: 0.3em;
}
#schoolName {
  width: 100%;
  height: 2.5em;
}
.provinceSchool {
  display:none;
  position:absolute;
  width:100%;
  height:auto;
  border:1px solid #72B9D7;
  z-index: 9999;
}
	  .provinceSchool .title { width:100%;height:1em;background:#079;}
	  .provinceSchool .title span { margin-left:10px;font-weight:600;color:#FFF;line-height:1em;}
	  .provinceSchool .proSelect { width:100%;height:2em;margin:5px;}
	  .provinceSchool .proSelect select { width:30%;}
	  .provinceSchool .proSelect input { display:none;}
	  .provinceSchool .schoolList { width:100%;height:8em;margin-left:2px;overflow-y:auto; border:1px solid #72B9D7;}
	  .provinceSchool .schoolList ul { width: 100%;}
	  .provinceSchool .schoolList ul li { float:left;width:90%;height:auto;margin-left:2px;padding-left:2px;line-height:1.5em;cursor:pointer;}
		.provinceSchool .schoolList ul li.DoubleWidthLi { width:60%;height: auto;}
	  .provinceSchool .schoolList ul li:hover { background:#72B9D7;}
	  .provinceSchool .button { width:100%;height:3em;margin-top:4px;}
	  .provinceSchool .button button { float:right;height:2em;margin-right:1em;padding:2px 4px; background:#999;border:none;color:#FFF;font-weight:600;cursor:pointer;}</style>
