html,body{
  background: #ddd;
  width: 100%;
  height: 100%;
  margin: 0;
}
.col-xs-9{
  padding: 0;
}
.col-xs-3{
  padding: 0;
}
.col-xs-8{
  padding: 0;
}
ul{
  list-style-type: none;
  padding: 0;
  height: auto;
}
ul li{
  float: left;
  margin: 0;
  width: 100%;
  height: auto;
  background: #fff;
  font-size: 1.3em;
  overflow: hidden;
}
.back{
  margin: auto;
  float:left;
  font-size: 30px;
  margin-top:4px;
  margin-left: 20%;
}
.index_kind{
  font-size: 24px;
  margin: auto;
  line-height: 2;
}
.up_mas_{
  width: 100%;
  height: 3em;
}
.up_pic{
  width: 2.3em;
  height: 2.3em;
  margin: 0.5em;
  border-radius: 100px;
  float: left;
}
.mes_nav{
  height: 3em;
  line-height: 3em;
  float: left;
  height: auto;
  margin-top: 0.5em;
}
.up_mes_user{
  float: left;
  line-height: 3em;
}
.up_time{
  float: right;
  line-height: 3em;
}
.mes_con{
  float: left;
  margin-top: 0.4em;
}
.apply_mas_{
  width: 100%;
}
.apply_pic{
  width: 2.3em;
  height: 2.3em;
  margin: 0.5em;
  border-radius: 100px;
  float: left;
}
.apply_mes_nav{
  float: left;
  height: auto;
  margin-top: 0.5em;
}
.apply_mes_user{
  float: left;
}
.apply_time{
  float: right;
}
.apply_mes_con{
  float: left;
  margin-top: 0.4em;
}
.tweet_mas_{
  width: 100%;
}
.tweet_pic{
  width: 2.3em;
  height: 2.3em;
  margin: 0.5em;
  border-radius: 100px;
  float: left;
}
.tweet_mes_nav{
  float: left;
  height: auto;
  margin-top: 0.5em;
}
.tweet_mes_user{
  float: left;
}
.tweet_time{
  float: right;
}
.tweet_mes_con{
  float: left;
  margin-top: 0.4em;
}
.privacy_mas_{
  width: 100%;
}
.privacy_pic{
  width: 2.3em;
  height: 2.3em;
  margin: 0.5em;
  border-radius: 100px;
  float: left;
}
.privacy_mes_nav{
  float: left;
  height: auto;
  margin-top: 0.5em;
}
.privacy_mes_user{
  float: left;
}
.privacy_time{
  float: right;
}
.privacy_mes_con{
  float: left;
  margin-top: 0.4em;
}
.mes_oper{
  width: 100%;
  height: 2.5em;
  background: #aaa;
  text-align: center;
  line-height: 2.5em;
  font-size: 1em;
  color: white;
  display: none;
  float: left;
}
.apply_mes_oper{
  width: 100%;
  height: 2.5em;
  background: #aaa;
  text-align: center;
  line-height: 2.5em;
  font-size: 1em;
  color: white;
  display: none;
  float: left;
}
.tweet_mes_oper{
  width: 100%;
  height: 2.5em;
  background: #aaa;
  text-align: center;
  line-height: 2.5em;
  font-size: 1em;
  color: white;
  display: none;
  float: left;
}
.privacy_mes_oper{
  width: 100%;
  height: 2.5em;
  background: #aaa;
  text-align: center;
  line-height: 2.5em;
  font-size: 1em;
  color: white;
  display: none;
  float: left;
}
.ignore{
  border-right: 1px solid #555;
}
.active{
  background: #555;
}
.nav_ban{
  width: 100%;
  height: 2em;
  background: #555;
  color: white;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
  float: left;
  border-bottom: 1px solid #fff;
}
.nav_nav{
  width: 100%;
}
#upvote_ul{
  display: none;
}
#apply_ul{
  display: none;
}
#tweet_ul{
  display: none;
}
#system_ul{
  display: none;
}
#privacy_ul{
  display: none;
}
