html,body{
  background: #ddd;
  width: 100%;
  height: 100%;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
  width: 100%;
  background: #fff;
}
ul li{
  margin: 0;
  float: left;
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.back{
  margin: auto;
  float:left;
  font-size: 30px;
  margin-top:4px;
  margin-left: 20%;
}
.equalnav{
  width: 100%;
}
.choose{
  width: auto;
  height: auto;
  font-size: 18px;
  background: #888;
  padding: 0.1em;
  float: right;
  color:white;
  text-align: center;
  line-height: 22px;
  margin-right: 5%;
}
.index_kind{
  font-size: 24px;
  margin: auto;
  line-height: 2;
}
.title{
  font-size: 1.2em;
  padding-top: 1em;
  padding-left: 1em;
}
.cover{
  margin-top: 0.7em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  width: 100%;
  height: 6em;
}
.photo{
  margin-top: 0.7em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  width: 100%;
  height: 5em;
}
.describe{
  margin-top: 0.7em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  color: #888;
}
