html,body{
  background: #ddd;
  width: 100%;
  height: 100%;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  float: left;
  margin: 0;
  width: 100%;
  height: auto;
}
.col-xs-2,.col-xs-8{
	padding: 0;
}
.back{
  margin: auto;
  float:left;
  font-size: 30px;
  margin-top:4px;
  margin-left: 20%;
}
.index_kind{
  font-size: 24px;
  margin: auto;
  line-height: 2;
}
.choose{
  width: auto;
  height: auto;
  font-size: 18px;
  padding: 0.1em;
  float: right;
  color:white;
  text-align: center;
  line-height: 22px;
  margin-right: 5%;
  color: white;
}
.report_con{
  width: 90%;
  margin-left: 5%;
  min-height:10em; 
  font-size: 18px;
}
.report_file_body{
  margin-left: 5%;
  height: 2.5em;
  width: 8em;
  font-size: 18px;
  background: #2158be;
  color: white;
  position: relative;
  cursor: pointer;
}
.report_file_body:hover{
  background: #356ed6;
  cursor: pointer;
}
.report_file_child{
  height: 2em;
  width: 5em;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: pointer;
  float: left;
}
.add_img{
  margin-left: 5%;
  margin-top: 20px;
}
.img_{
  width: 70%;
  height: 13em;
}